@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('PT Sans Narrow'),
        url('../fonts/PT_Sans-Narrow-Web-Regular.woff2') format('woff2'),
        url('../fonts/PT_Sans-Narrow-Web-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('PT Sans Narrow'),
        url('../fonts/PT_Sans-Narrow-Web-Bold.woff2') format('woff2'),
        url('../fonts/PT_Sans-Narrow-Web-Bold.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('PT Sans'),
        url('../fonts/pt-sans-v17-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/pt-sans-v17-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('PT Sans'),
        url('../fonts/pt-sans-v17-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/pt-sans-v17-latin_cyrillic-700.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

:hover, :active, :focus {
  outline: 0;
  outline-offset: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-container {
  flex-grow: 1;
  padding: 64px 0 60px 0;
}

.button {
  display: inline-block;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
}

.button + .button {
  margin-left: 16px;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

/* header start */

.page-header {
  background: #000000;
  color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 470px;
}

.nav-user {
  max-width: 240px;
  margin-left: auto;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
}

.navigation-link-login {
  padding-left: 44px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.navigation-icon-login {
  right: auto;
  left: 20px;
  margin: auto 0;
}

.nav-link:hover {
  background: #595959;
}

.nav-link:focus {
  border: 4px solid #e7e7e7;
}

.page-header-logo {
  display: block;
  max-width: 140px;
  padding: 24px 0;
  margin-right: 100px;
}


/* main */

.main-index {
  color: #ffffff;
  background: url(../images/interior.jpg) center no-repeat #000;
  background-size: cover;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 40px;
  color: #242424;
  background: url(../images/noisy-texture-80x80.png) #fbf7f4;
}

.section-wrapper:last-child {
  margin-bottom: 0;
}

.logo {
  margin: 0 auto 64px;
}


/* advantages */

.advantages {
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  text-align: center;
  margin-bottom: 58px;
}

.advantages-item {
  width: 33.33%;
  margin-right: 55px;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.advantages-title::after {
  content: '';
  display: block;
  margin: 19px auto;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

/* services */

.services {
  width: 390px;
  text-transform: uppercase;
}

.index-title {
  margin-bottom: 28px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.services-list {
  margin-bottom: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.services-item:not(:last-child) {
  margin-bottom: 22px;
}

.services-price {
  text-align: right;
  color: #af7842;
}

.services-button {
  padding-right: 44px;
  background-image: url(../svg/arrow-white-no-tail.svg);
  background-size: 16px 16px;
  background-position: center right 20px;
  background-repeat: no-repeat;
}

/* gallery */

.gallery {
  width: 390px;
}

/* contacts */

.contacts {
  width: 350px;
  font-weight: 700;
}

.contacts-subtitle {
  margin-bottom: 8px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #af7842;
}

.contacts-address {
  margin-bottom: 22px;
  font-style: normal;
}

.contacts-text {
  margin-bottom: 8px;
}

.contacts-phone {
  font-family: 'PT Sans Narrow';
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #242424;
}

.contacts-shedule {
  margin-bottom: 21px;
}

.feedback-button {
  color: #242424;
  background-color: #ffffff;
}

/* appointment */

.appointment {
  width: 430px;
}

.appointment-text {
  font-size: 14px;
  line-height: 20px;
  color: #595959;
  margin-bottom: 24px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 114px 74px 208px;
  gap: 19px 17px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 10px 16px;
}

.form-label {
  margin-bottom: 8px;
}

.appointment-form-name {
  grid-column: 1 / -1;
}

.button-appointment {
  grid-column: 1 / -1;
  justify-self: start;
}

.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.appointment-form .info {
  display: none;
}

input::placeholder {
  font-weight: 700;
  font-size: 16px;
  color: #bdbdbd;
}


/* footer */

.page-footer {
  font-weight: 700;
  font-size: 14px;
  background: url(../images/noisy-texture-80x80.png) #242424;
  color: #fff;
}

.page-footer-container {
  display: flex;
  padding: 40px 0;
}

.page-footer-logo {
  margin-bottom: 24px;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-text {
  margin-bottom: 4px;
  line-height: 20px;
}

.footer-contacts-address {
  margin-bottom: 16px;
  font-style: normal;
}

.page-footer-title {
  margin-bottom: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-contacts-phone {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-decoration: underline;
}

.footer-subscribe {
  max-width: 290px;
}

.footer-subscribe-form {
  display: flex;
}

.footer-subscribe .input {
  padding: 10px 16px;
  flex-grow: 1;
  border: 2px solid #000000;
}

.subscribe-button {
  width: 56px;
  height: 44px;
  padding: 16px 20px;
  background-image: url(../svg/arrow-right-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-contacts-map-link {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-social {
  max-width: 190px;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
  gap: 8px;
}

.footer-social-link {
  display: block;
  width: 56px;
  height: 44px;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.footer-social-link-tw {
  background-image: url(../svg/logo-twitter-icon.svg);
}

.footer-social-link-vk {
  background-image: url(../svg/logo-vk-icon.svg);
}

.footer-social-link-inst {
  background-image: url(../svg/logo-instagram-icon.svg);
}

.academy-link {
  color: #dbb590;
}

/* catalog */ /* catalog */

.main-inner {
  padding-top: 40px;
}

.catalog-products {
  display: flex;
}

.inner-header-title {
  margin-bottom: 16px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 32px;
  text-decoration: underline;
}

/* filters */

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-filter-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.control {
  font-weight: 700;
}

.catalog-wrapper {
  width: 700px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.select-control {
  width: 260px;
  height: 44px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  border: 2px solid #242424;
}

.sorting-container .button {
  display: block;
  width: 56px;
  height: 44px;
}

/* cards */

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin-bottom: 24px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.product-card-image {
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 16px;
  object-fit: cover;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex-grow: 1;
}

.product-card-title {
  margin-bottom: 8px;
  font-weight: 700;
  color: #000000;
}

.product-card-price {
  margin-bottom: 40px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #814b18;
}

.product-card-button {
  margin-top: auto;
}

/* pagination */

.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 50px;
  padding: 14px 20px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: #000000;
}

.pagination-disabled {
  width: 56px;
  background: #595959;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-button {
  margin-left: auto;
}

.pagination-next {
  width: 56px;
}